header {
  height: 75px;
  width: 100%;
  background-color: #fcbc2a;
}

header nav {
  height: 100%;
}

header nav .logo {
  display: inline-block;
  background-color: #ffb100;
  height: 100%;
  width: 300px;
  position: relative;
}

header nav img {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

header nav .logo h1 {
  display: inline-block;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}
