header {
  height: 75px;
  width: 100%;
  background-color: var(--cor-principal);
  position: fixed;
}

header nav {
  height: 100%;
  position: relative;
}

header nav .logo {
  display: inline-block;
  background-color: var(--cor-secundaria);
  height: 100%;
  width: 300px;
  position: relative;
  transition: all 0.5s ease;
}

header nav img {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

header nav .logo h1 {
  display: inline-block;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

/* Botão header */

.btn-header {
  border-radius: 50%;
  font-size: 30px;
  background-color: var(--cor-principal);
  color: white;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.btn-header:hover {
  background-color: var(--cor-secundaria);
}

.btn-menu-aside {
  display: none;
  transition: all 0.5s ease;
}

.btn-notification {
  right: 10px;
}

@media screen and (max-width: 700px) {
  .btn-menu-aside {
    display: inline-block;
  }
}
