@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --cor-principal: #fcbc2a;
  --cor-secundaria: #ffb100;
  --cor-terceraria: #6c6c6c;
  --cor-quartararia: #5a5a5a;
  --cor-background: #e4e4e4;
  --cor-btnAdd: #0e62e0;
  --cor-btnAdd-hover: #0a4bad;
  --cor-btnSave: #3ab63a;
  --cor-btnSave-hover: #35ac35;
  --cor-fonte: #424242;
  --cor-btnEdt: #f8d822;
  --cor-btnEdt-hover: #e7c91f;
  --cor-btnld: #2b7cf7;
  --cor-btnld-hover: #418af7;
  --cor-btnCancel: #ff2b2b;
  --cor-btnCancel-hover: #ff1818;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--cor-background);
  font-family: "Roboto", sans-serif;
}

.container-full {
  height: 100vh;
  width: 100%;
  background-image: url(../images/bkg-landing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-act {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  .btn-off {
    left: 10px;
  }

  .btn-on {
    left: 310px;
  }

  .responsive-none {
    position: absolute;
    left: -300px;
  }

  .responsive-show {
    position: absolute;
    left: 0;
  }
}
