@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --cor-principal: #fcbc2a;
  --cor-secundaria: #ffb100;
  --cor-terceraria: #6c6c6c;
  --cor-quartararia: #5a5a5a;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e4e4e4;
}

@media screen and (max-width: 700px) {
  .btn-off {
    left: 10px;
  }

  .btn-on {
    left: 310px;
  }

  .responsive-none {
    position: absolute;
    left: -300px;
  }

  .responsive-show {
    position: absolute;
    left: 0;
  }
}
